{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "quotes": ["error", "single"],
    "no-unused-vars": [
      "warn",
      {
        "ignoreSiblings": true,
        "argsIgnorePattern": "req|res|next|^err"
      }
    ],
    "no-console": "warn",
    "no-shadow": [
      "warn",
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "error"]
      }
    ]
  }
}
